<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Document</title>
             <script src="/asset/jquery.min.js"></script>
             <script src="/asset/socket.io.js"></script>
             <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
             <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div id="nick-wrap">
<p>Tài khoản đăng nhập của bạn:</p>
<p id="nick-error"></p>
<p id="login-ok"></p>
<form action="" id="set-nick">
<input type="text" size="35" id="nick-name">
<input type="submit">
</form>
</div>
<script >
var socket = io.connect('http://localhost:4200');
$("#set-nick").submit(function(event) {
    // console.log('ok', $('#nick-name').val());
    $('#login-ok').val('');
    $('#nick-error').val('');
  event.preventDefault();
  socket.emit('new user', $('#nick-name').val(), function(data) {
      console.log('ok', data);
    if (data) {
        $('#login-ok').html('Login success');
    } else {
        $('#nick-error').html('Login fail');
    }
  })
  $('#nick-name').val('');
})
</script>
</body>
</html>
